.App {
  text-align: center;
}

.navbar {
  background-color: deepskyblue;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

.input {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}